

a {
    color: #d2d2d2;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #699be9;
    text-decoration: underline;
}
.ba{
    color: #66BAB7;
}

ruby{
    color: #66BAB7;
}
/*logo*/
@media screen and (max-width: 800px) {
    .logodiv {
        margin-top: 20px;
    }
}


@media screen and (max-width: 800px) {
    .hd {
        width: 95%;
        margin: auto;
    }
}


.logodiv {
    text-align: center;
    margin-top: 30px;
}

.hd {
    width: 700px;
    margin: auto;
}
.logot {
    font-family: 'Zpix', serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.logot a {
    color: #51525d;
}
.logot a:hover {
    text-decoration: none;
}
.logot .logo_1 {
    color: #888;
}
.logot .logo_2 {
    color: #6d9ee7;
}
.logot .logo_3 {
    color: #be8355;
}

/*breadcrumb*/
.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}

.breadcrumb {
    margin: 8px 0;
    padding: 8px 15px;
    list-style: none;
    background-color: initial;
    border-radius: 0px;
    text-align: center;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: '&\00a0';
}
.breadcrumb>.active {
    color: #777;
}

/*post*/
.titlex {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.list {
    padding-left: 25px;
    padding-right: 25px;
    height: 30px;
    cursor: pointer;
}
.list:hover{
    color: #66BAB7;
    transition: all .3s linear;
}
.postname {
    float: left;
}
.posttime {
    float: right;
}
.logopng {
    width: 315px;
}
.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: initial;
    border-radius: 0px;
    text-align: center;
}
.title-year {
    color: #6d9ee7;
}
.hd .more {
    margin-top: 30px;
}

.index-body{
    min-height: 660px;
}
.ruby-title{
    background: linear-gradient(to bottom, #DC9FB4, #0eb0c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}